.footer {
	position: relative;
	width: 900px;
	display: flex;
	justify-content: end;
}
.footer h2 {
	color: #355C7D;
	font-family: kanit;
	font-weight: 400;
	font-size: 18px;
}
@media only screen and (max-width: 600px)
{
    .footer {
        position: relative;
        width: 500px;
        justify-content: center;
    }
}