body {
    background-color: rgba(240, 255, 253, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.macaso {
    color: #FF7582;
}
.header {
    position: fixed;
    height: 90px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    opacity: 0.9;
    z-index: 1000;

}
.header h2 {
    font-family: kanit;
    color: #355C7D;
    font-size: 20px;
    font-weight: 200px;
}
ul {
    display: flex;
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;
    column-gap: 40px;
}
.left-section h2 {
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}
.right-section li  {
    font-family: kanit;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 18px;
}
.right-section {
    text-decoration: none;    
    display: flex;
    justify-content: center;
}
.right-section li a {
    letter-spacing: 0.6px;
    font-weight: 500;
    font-size: 17px;
	text-decoration: none;
	color: #355C7D;
    transition: 0.15s;
}
.right-section li:hover a {
    color: #FF7582;
}
.right-section li:active a {
    opacity: 0.5;


/*--------------------HOME INTRODCUTION IMAGE-----------------*/
}
.profile img {
    width: 320px;
    transform: rotateZ(-5deg);
    transition: 0.2s;
}
.profile img:hover {
    transform: rotateZ(-25deg);
}
.home-container {
    width: 1000px;
    margin-top: 180px;
    display: flex;
    flex-direction: row;
}
.introduction {
    justify-content: center;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
}
.project-container {
    
    display: flex;
    justify-content: center;
    width: 130px;
}
.project-social {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    height: 50px;
    
}
.project-container button {
    font-family: kanit;
    letter-spacing: 0.6px;
    color: white;
    background-color: #FF7582;
    border: none;
    padding: 3px 20px 5px 20px;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;

    transition: 0.15s;
}

.project-container button:hover {
    padding: 3px 33px 5px 33px;
  
    border-radius: 0px;
/*--------------------HOME INTRODCUTION TEXT-----------------*/
}
.introduction h2 {
    font-family: kanit;                                            
    color: #355C7D;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
    letter-spacing: 1.5px;
}
.introduction h1{
    font-family: Kanit;
    color: #355C7D;
    font-weight: 700;
    font-size: 55px;
    margin: 0;
    line-height: 60px;
    letter-spacing: 2px;
    text-shadow: -3px 3px 2px rgba(0, 0, 0, 0.2);
}
.red {
    color: #FF7582;

}
.social a {
    margin-left: 30px;
	text-decoration: none;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 17px;
	color: #eee;
	cursor: pointer;
	margin-left: 0px;
	background-color: #426b59;
	transition: 0.5s;
}
.social a:hover {
    background-color: white;
	color: #426b59;
	box-shadow: inset 2px 2px 20px rgba(168, 168, 168, 0.3);
}
.social a:active {
    opacity: 0.8;
}
.social {
	width: 200px;
	display: flex;
	margin-left: 10px;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.project-social-two {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/*--------------------MOBILE VERSION---------------*/

@media only screen and (max-width: 600px)
{

    .header {
        gap: 0px;
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        opacity: 0.9;
        height: 125px;
        justify-content: space-between;
        flex-direction: column;
    }
    .header h2 {
        font-family: kanit;
        color: #355C7D;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.6px;
    }
    ul {
        display: flex;
        list-style: none;
        padding-left: 0px;
        padding-right: 0px;
        gap: 70px;
    }
    .right-section li  {
        font-family: kanit;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        font-size: 25px;
    }
    .right-section li a {
        font-size: 20px;
        letter-spacing: 0.6px;
    }
    .right-section {
        display: flex;
        justify-content: center;
    }



    .introduction {
        margin-left: 0px;
    }
    .home-container {
        width: 500px;
        display: flex;
        flex-direction: column;
        margin-top: 150px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .profile img {
        width: 300px;
        transform: rotateZ(-5deg);
    }

    .introduction h2 {
        font-family: kanit;                                            
        color: #355C7D;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 20px;
        letter-spacing: 1.6px;
    }
    .introduction h1{
        font-family: Kanit;
        color: #355C7D;
        font-weight: 700;
        font-size: 80px;
        margin: 0;
        line-height: 80px;
        letter-spacing: 2px;
        text-shadow: -3px 3px 2px rgba(0, 0, 0, 0.2);
    }
    .red {
        color: #FF7582;
    }
    .project-container {
        display: flex;
        justify-content: center;
        width: 130px;
    }
    .project-social {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        height: 50px;
        
    }
    .project-container button {
        margin-top: 20px;
        font-family: kanit;
        letter-spacing: 0.6px;
        color: white;
        background-color: #FF7582;
        border: none;
        padding: 8px 35px 10px 35px;
        border-radius: 5px;
        font-size: 20px;
    
        transition: 0.15s;
    }
    
    .project-container button:hover {
        padding: 8px 75px 10px 75px;
      
        border-radius: 0px;
    }
    .social a {
        margin-left: 0px;
        text-decoration: none;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: #eee;
        cursor: pointer;
        margin-left: 0px;
        background-color: #426b59;
        transition: 0.5s;
    }
    .social {
        z-index: 999;
        margin-top: 10px;
        width: 900px;
        gap: 30px;  
    }
    .left-section h2 {
        letter-spacing: 1px;
        font-weight: 600;
    }
    
    
    





}